* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-image: url("map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  margin: 20px;
  padding: 0;
  text-align: center;
  width: 50%;
}

.container {
  background: #56433a;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 40em;
  height: 40em;
}

.board {
    width: 40.07em;
    margin: 0;
    padding: 0;
    /*border-top: 1px solid #000000;
    border-left: 1px solid #000000;*/
    overflow: hidden;
    list-style: none;
}

.box {
    width: 4em;
    height: 4em;
    /*border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;*/
    float: left;
    margin: 0;
}

img {
  display: block;
  width: 3.95em;
  height: 3.95em;
  float:left;
}

a {
  display: block;
  width: 3.95em;
  height: 3.95em;
  float: left;
  background-repeat: no-repeat;
}

.start {
  display: block;
  width: 3.95em;
  height: 3.95em;
  background: white;
  color: black;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  line-height: 65px;
}

.special {
  background-image: url('gold.jpg');
  background-size: contain;
  border: thin dotted #fde394;
}

.square1 {
  background: #b7a295;
}

.square2 {
  background: #d69d84;
}

.square3 {
  background: #860000;
}

.square4 {
  background: #bfdeff;
}

a:hover {
  background: #eff7f8;
}

a:visited {
  background: #795f53;
  pointer-events: none;
}
